@keyframes scaling-animation {
	from {
		transform: scaleX(100%);
	}
	to {
		transform: scaleX(0);
	}
}
@keyframes hiding-animation {
	0% {
		transform: translateX(110%);
	}
	10% {
		transform: translateX(0%);
	}
	90% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(110%);
	}
}
